version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "ruff"
          - "mypy"
          - "pytest*"
          - "bandit"
          - "pre-commit"
          - "scipy"
      runtime-dependencies:
        patterns:
          - "numpy"
          - "pydantic*"
          - "grpcio"
          - "protobuf"
